<body>
  <app-nav></app-nav>
  <div id="profiles" class="container text-muted">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../assets/img/2.jpg">
          <div class="card-block">
            <h3 class="card-title">Node.js Training</h3>
            <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../assets/img/pic2.png">
          <div class="card-block">
            <h3 class="card-title">Node.js Training</h3>
            <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="/img/mongo.png">
          <div class="card-block">
            <h3 class="card-title">Node.js Training</h3>
            <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="/img/webpack.png">
          <div class="card-block">
            <h3 class="card-title">Node.js Training</h3>
            <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="container">
   
  
  <div class="col-md-6 col-lg-2">
    <div class="card p-3">
       <img src="../../assets/img/em_bars.png class="card-img-top img-fluid" alt="">
       <div class="card-block">
          <div>
             <p class="font-weight-bold">Search</p>
             <p>Perform a generic search. Enter a keyword and get results based
                on that keyword.</p>
          </div>
       </div>
    </div>
 </div>
</div>

</body>-->
  <!--<body>

    <div class="container">
        <app-nav></app-nav>
    </div>

    <div class="container text-muted">

        

        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/img/node.png">
                    <div class="card-block">
                        <h3 class="card-title">Node.js Training</h3>
                        <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/img/react.png">
                    <div class="card-block">
                        <h3 class="card-title">Node.js Training</h3>
                        <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/img/mongo.png">
                    <div class="card-block">
                        <h3 class="card-title">Node.js Training</h3>
                        <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/img/webpack.png">
                    <div class="card-block">
                        <h3 class="card-title">Node.js Training</h3>
                        <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
        </div>

       

    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>-->
</body>
