<body>
    <!--<nav class="navbar navbar-default navbar-toggleable-md fixed-top bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed=!isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Home</a>
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="" routerLinkActive="active" class="nav-link">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a routerLink="" routerLinkActive="active" class="nav-link">Profile</a>
                </li>
            </ul>
        </div>
    </nav>-->
    <app-nav></app-nav>
    <section>
        <div class="container" class="col-md-6">
            <!--<img id="firstImage" src="../../assets/img/1st_bar.png">
            <img id="secImage" src="../../assets/img/2nd_bar.png">-->
            <img id="secImage" src="../../assets/img/em_bars.png">
            <div class="rocketWords">R<br><br><br>O<br><br><br>C<br><br><br>K<br><br><br>E<br><br><br>T</div>
            <div class="projectWords">PROJECTS</div>

        </div>
    </section>
</body>
